In [6]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv(r'C:\Users\pinup\Desktop\python\lending_club_loans.csv',skiprows=1)
half=len(dataset)/2
data=dataset.dropna(thresh=half,axis=1)

C:\Users\pinup\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data=data.drop(['url','desc'],axis=1)

In [4]:
data.shape

(42538, 56)

In [5]:
data_dictionary = pd.read_csv(r'C:\Users\pinup\Desktop\python\LCDataDictionary.csv')
print(data_dictionary.shape[0])
print(data_dictionary.columns.tolist())

117
['LoanStatNew', 'Description']

In [8]:
data_dictionary

                      name                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
114               zip_code  The first 3 numbers of the zip code provided b...
115                    NaN                                                NaN
116                    NaN  * Employer Title replaces Employer Name for al...

[117 rows x 2 columns]

In [7]:
data_dictionary = data_dictionary.rename(columns={'LoanStatNew': 'name', 'Description': 'description'})

In [29]:
loans = pd.DataFrame(data.dtypes,columns=['dtypes'])
loans = loans.reset_index()
loans['name'] = loans['index']
loans = loans[['name','dtypes']]
loans['first value'] = data.loc[0].values
preview = loans.merge(data_dictionary, on='name',how='left')
print(preview)

                          name   dtypes  first value  \
0                           id   object      1077501
1                    member_id  float64   1.2966e+06
2                    loan_amnt  float64         5000
3                  funded_amnt  float64         5000
4              funded_amnt_inv  float64         4975
5                         term   object    36 months
6                     int_rate   object       10.65%
7                  installment  float64       162.87
8                        grade   object            B
9                    sub_grade   object           B2
10                   emp_title   object          NaN
11                  emp_length   object    10+ years
12              home_ownership   object         RENT
13                  annual_inc  float64        24000
14         verification_status   object     Verified
15                     issue_d   object     Dec-2011
16                 loan_status   object   Fully Paid
17                  pymnt_plan   object            n
18                     purpose   object  credit_card
19                       title   object     Computer
20                    zip_code   object        860xx
21                  addr_state   object           AZ
22                         dti  float64        27.65
23                 delinq_2yrs  float64            0
24            earliest_cr_line   object     Jan-1985
25              fico_range_low  float64          735
26             fico_range_high  float64          739
27              inq_last_6mths  float64            1
28                    open_acc  float64            3
29                     pub_rec  float64            0
30                   revol_bal  float64        13648
31                  revol_util   object        83.7%
32                   total_acc  float64            9
33         initial_list_status   object            f
34                   out_prncp  float64            0
35               out_prncp_inv  float64            0
36                 total_pymnt  float64      5863.16
37             total_pymnt_inv  float64      5833.84
38             total_rec_prncp  float64         5000
39               total_rec_int  float64       863.16
40          total_rec_late_fee  float64            0
41                  recoveries  float64            0
42     collection_recovery_fee  float64            0
43                last_pymnt_d   object     Jan-2015
44             last_pymnt_amnt  float64       171.62
45          last_credit_pull_d   object     Sep-2016
46        last_fico_range_high  float64          744
47         last_fico_range_low  float64          740
48  collections_12_mths_ex_med  float64            0
49                 policy_code  float64            1
50            application_type   object   INDIVIDUAL
51              acc_now_delinq  float64            0
52    chargeoff_within_12_mths  float64            0
53                 delinq_amnt  float64            0
54        pub_rec_bankruptcies  float64            0
55                   tax_liens  float64            0

                                          description
0       A unique LC assigned ID for the loan listing.
1    A unique LC assigned Id for the borrower member.
2   The listed amount of the loan applied for by t...
3   The total amount committed to that loan at tha...
4   The total amount committed by investors for th...
5   The number of payments on the loan. Values are...
6                           Interest Rate on the loan
7   The monthly payment owed by the borrower if th...
8                              LC assigned loan grade
9                           LC assigned loan subgrade
10  The job title supplied by the Borrower when ap...
11  Employment length in years. Possible values ar...
12  The home ownership status provided by the borr...
13  The self-reported annual income provided by th...
14  Indicates if income was verified by LC, not ve...
15                The month which the loan was funded
16                         Current status of the loan
17  Indicates if a payment plan has been put in pl...
18  A category provided by the borrower for the lo...
19            The loan title provided by the borrower
20  The first 3 numbers of the zip code provided b...
21  The state provided by the borrower in the loan...
22  A ratio calculated using the borrowerâ€™s total ...
23  The number of 30+ days past-due incidences of ...
24  The month the borrower's earliest reported cre...
25  The lower boundary range the borrowerâ€™s FICO a...
26  The upper boundary range the borrowerâ€™s FICO a...
27  The number of inquiries in past 6 months (excl...
28  The number of open credit lines in the borrowe...
29                Number of derogatory public records
30                     Total credit revolving balance
31  Revolving line utilization rate, or the amount...
32  The total number of credit lines currently in ...
33  The initial listing status of the loan. Possib...
34  Remaining outstanding principal for total amou...
35  Remaining outstanding principal for portion of...
36  Payments received to date for total amount funded
37  Payments received to date for portion of total...
38                         Principal received to date
39                          Interest received to date
40                         Late fees received to date
41                     post charge off gross recovery
42                     post charge off collection fee
43                    Last month payment was received
44                 Last total payment amount received
45  The most recent month LC pulled credit for thi...
46  The upper boundary range the borrowerâ€™s last F...
47  The lower boundary range the borrowerâ€™s last F...
48  Number of collections in 12 months excluding m...
49  publicly available policy_code=1\nnew products...
50  Indicates whether the loan is an individual ap...
51  The number of accounts on which the borrower i...
52             Number of charge-offs within 12 months
53  The past-due amount owed for the accounts on w...
54               Number of public record bankruptcies
55                                Number of tax liens

In [13]:
preview[:19]

,name,dtypes,first value,description
0,id,object,1077501,A unique LC assigned ID for the loan listing.
1,member_id,float64,1.2966e+06,A unique LC assigned Id for the borrower member.
2,loan_amnt,float64,5000,The listed amount of the loan applied for by t...
3,funded_amnt,float64,5000,The total amount committed to that loan at tha...
4,funded_amnt_inv,float64,4975,The total amount committed by investors for th...
5,term,object,36 months,The number of payments on the loan. Values are...
6,int_rate,object,10.65%,Interest Rate on the loan
7,installment,float64,162.87,The monthly payment owed by the borrower if th...
8,grade,object,B,LC assigned loan grade
9,sub_grade,object,B2,LC assigned loan subgrade
10,emp_title,object,NaN,The job title supplied by the Borrower when ap...
11,emp_length,object,10+ years,Employment length in years. Possible values ar...
12,home_ownership,object,RENT,The home ownership status provided by the borr...
13,annual_inc,float64,24000,The self-reported annual income provided by th...
14,verification_status,object,Verified,"Indicates if income was verified by LC, not ve..."
15,issue_d,object,Dec-2011,The month which the loan was funded
16,loan_status,object,Fully Paid,Current status of the loan
17,pymnt_plan,object,n,Indicates if a payment plan has been put in pl...
18,purpose,object,credit_card,A category provided by the borrower for the lo...

In [32]:
drop_list = ['id','member_id','funded_amnt','funded_amnt_inv','int_rate','sub_grade','emp_title','issue_d']
data = data.drop(drop_list,axis=1)

In [34]:
preview[19:38]

,name,dtypes,first value,description
19,title,object,Computer,The loan title provided by the borrower
20,zip_code,object,860xx,The first 3 numbers of the zip code provided b...
21,addr_state,object,AZ,The state provided by the borrower in the loan...
22,dti,float64,27.65,A ratio calculated using the borrowerâ€™s total ...
23,delinq_2yrs,float64,0,The number of 30+ days past-due incidences of ...
24,earliest_cr_line,object,Jan-1985,The month the borrower's earliest reported cre...
25,fico_range_low,float64,735,The lower boundary range the borrowerâ€™s FICO a...
26,fico_range_high,float64,739,The upper boundary range the borrowerâ€™s FICO a...
27,inq_last_6mths,float64,1,The number of inquiries in past 6 months (excl...
28,open_acc,float64,3,The number of open credit lines in the borrowe...
29,pub_rec,float64,0,Number of derogatory public records
30,revol_bal,float64,13648,Total credit revolving balance
31,revol_util,object,83.7%,"Revolving line utilization rate, or the amount..."
32,total_acc,float64,9,The total number of credit lines currently in ...
33,initial_list_status,object,f,The initial listing status of the loan. Possib...
34,out_prncp,float64,0,Remaining outstanding principal for total amou...
35,out_prncp_inv,float64,0,Remaining outstanding principal for portion of...
36,total_pymnt,float64,5863.16,Payments received to date for total amount funded
37,total_pymnt_inv,float64,5833.84,Payments received to date for portion of total...

In [35]:
drop_cols = [ 'zip_code','out_prncp','out_prncp_inv',
'total_pymnt','total_pymnt_inv']
data = data.drop(drop_cols, axis=1)

In [36]:
preview[38:]

,name,dtypes,first value,description
38,total_rec_prncp,float64,5000,Principal received to date
39,total_rec_int,float64,863.16,Interest received to date
40,total_rec_late_fee,float64,0,Late fees received to date
41,recoveries,float64,0,post charge off gross recovery
42,collection_recovery_fee,float64,0,post charge off collection fee
43,last_pymnt_d,object,Jan-2015,Last month payment was received
44,last_pymnt_amnt,float64,171.62,Last total payment amount received
45,last_credit_pull_d,object,Sep-2016,The most recent month LC pulled credit for thi...
46,last_fico_range_high,float64,744,The upper boundary range the borrowerâ€™s last F...
47,last_fico_range_low,float64,740,The lower boundary range the borrowerâ€™s last F...
48,collections_12_mths_ex_med,float64,0,Number of collections in 12 months excluding m...
49,policy_code,float64,1,publicly available policy_code=1\nnew products...
50,application_type,object,INDIVIDUAL,Indicates whether the loan is an individual ap...
51,acc_now_delinq,float64,0,The number of accounts on which the borrower i...
52,chargeoff_within_12_mths,float64,0,Number of charge-offs within 12 months
53,delinq_amnt,float64,0,The past-due amount owed for the accounts on w...
54,pub_rec_bankruptcies,float64,0,Number of public record bankruptcies
55,tax_liens,float64,0,Number of tax liens

In [38]:
drop_cols = ['total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee', 'last_pymnt_d',
'last_pymnt_amnt']
data=data.drop(drop_cols,axis=1)

In [39]:
print(data['fico_range_low'].unique())
print(data['fico_range_high'].unique())

[735. 740. 690. 695. 730. 660. 675. 725. 710. 705. 720. 665. 670. 760.
 685. 755. 680. 700. 790. 750. 715. 765. 745. 770. 780. 775. 795. 810.
 800. 815. 785. 805. 825. 820. 630. 625.  nan 650. 655. 645. 640. 635.
 610. 620. 615.]
[739. 744. 694. 699. 734. 664. 679. 729. 714. 709. 724. 669. 674. 764.
 689. 759. 684. 704. 794. 754. 719. 769. 749. 774. 784. 779. 799. 814.
 804. 819. 789. 809. 829. 824. 634. 629.  nan 654. 659. 649. 644. 639.
 614. 624. 619.]

In [41]:
data['fico_average'] = (data['fico_range_high'] + data['fico_range_low']) / 2

In [42]:
cols = ['fico_range_low','fico_range_high','fico_average']

In [43]:
data[cols].head()

   fico_range_low  fico_range_high  fico_average
0           735.0            739.0         737.0
1           740.0            744.0         742.0
2           735.0            739.0         737.0
3           690.0            694.0         692.0
4           695.0            699.0         697.0

In [44]:
drop_cols = ['fico_range_low','fico_range_high','last_fico_range_low', 'last_fico_range_high']
data = data.drop(drop_cols, axis=1)
data.shape

(42538, 33)

In [45]:
data["loan_status"].value_counts()

Fully Paid                                             33586
Charged Off                                             5653
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Current                                                  513
In Grace Period                                           16
Late (31-120 days)                                        12
Late (16-30 days)                                          5
Default                                                    1
Name: loan_status, dtype: int64

In [46]:
meaning = [
"Loan has been fully paid off.",
"Loan for which there is no longer a reasonable expectation of further payments.",
"While the loan was paid off, the loan application today would no longer meet the credit policy and wouldn't be approved on to the marketplace.",
"While the loan was charged off, the loan application today would no longer meet the credit policy and wouldn't be approved on to the marketplace.",
"Loan is up to date on current payments.",
"The loan is past due but still in the grace period of 15 days.",
"Loan hasn't been paid in 31 to 120 days (late on the current payment).",
"Loan hasn't been paid in 16 to 30 days (late on the current payment).",
"Loan is defaulted on and no payment has been made for more than 121 days."]
status, count = data["loan_status"].value_counts().index, data["loan_status"].value_counts().values
loan_statuses_explanation = pd.DataFrame({'Loan Status': status,'Count': count,'Meaning': meaning})[['Loan Status','Count','Meaning']]
loan_statuses_explanation

,Loan Status,Count,Meaning
0,Fully Paid,33586,Loan has been fully paid off.
1,Charged Off,5653,Loan for which there is no longer a reasonable...
2,Does not meet the credit policy. Status:Fully ...,1988,"While the loan was paid off, the loan applicat..."
3,Does not meet the credit policy. Status:Charge...,761,"While the loan was charged off, the loan appli..."
4,Current,513,Loan is up to date on current payments.
5,In Grace Period,16,The loan is past due but still in the grace pe...
6,Late (31-120 days),12,Loan hasn't been paid in 31 to 120 days (late ...
7,Late (16-30 days),5,Loan hasn't been paid in 16 to 30 days (late o...
8,Default,1,Loan is defaulted on and no payment has been m...

In [47]:
data = data[(data["loan_status"] == "Fully Paid") |
(data["loan_status"] == "Charged Off")]
mapping_dictionary = {"loan_status":{ "Fully Paid": 1, "Charged Off": 0}}
data = data.replace(mapping_dictionary)

In [48]:
print(data)

       loan_amnt        term  installment grade emp_length home_ownership  \
0         5000.0   36 months       162.87     B  10+ years           RENT
1         2500.0   60 months        59.83     C   < 1 year           RENT
2         2400.0   36 months        84.33     C  10+ years           RENT
3        10000.0   36 months       339.31     C  10+ years           RENT
5         5000.0   36 months       156.46     A    3 years           RENT
...          ...         ...          ...   ...        ...            ...
39781     2500.0   36 months        78.42     A    4 years       MORTGAGE
39782     8500.0   36 months       275.38     C    3 years           RENT
39783     5000.0   36 months       156.84     A   < 1 year       MORTGAGE
39784     5000.0   36 months       155.38     A   < 1 year       MORTGAGE
39785     7500.0   36 months       255.43     E   < 1 year            OWN

       annual_inc verification_status  loan_status pymnt_plan  ...  \
0         24000.0            Verified            1          n  ...
1         30000.0     Source Verified            0          n  ...
2         12252.0        Not Verified            1          n  ...
3         49200.0     Source Verified            1          n  ...
5         36000.0     Source Verified            1          n  ...
...           ...                 ...          ...        ...  ...
39781    110000.0        Not Verified            1          n  ...
39782     18000.0        Not Verified            1          n  ...
39783    100000.0        Not Verified            1          n  ...
39784    200000.0        Not Verified            1          n  ...
39785     22000.0        Not Verified            1          n  ...

      last_credit_pull_d collections_12_mths_ex_med policy_code  \
0               Sep-2016                        0.0         1.0
1               Sep-2016                        0.0         1.0
2               Sep-2016                        0.0         1.0
3               Apr-2016                        0.0         1.0
5               Jan-2016                        0.0         1.0
...                  ...                        ...         ...
39781           Jun-2010                        NaN         1.0
39782           Jul-2010                        NaN         1.0
39783           Jun-2007                        NaN         1.0
39784           Jun-2007                        NaN         1.0
39785           Jun-2010                        NaN         1.0

       application_type  acc_now_delinq chargeoff_within_12_mths  delinq_amnt  \
0            INDIVIDUAL             0.0                      0.0          0.0
1            INDIVIDUAL             0.0                      0.0          0.0
2            INDIVIDUAL             0.0                      0.0          0.0
3            INDIVIDUAL             0.0                      0.0          0.0
5            INDIVIDUAL             0.0                      0.0          0.0
...                 ...             ...                      ...          ...
39781        INDIVIDUAL             0.0                      NaN          0.0
39782        INDIVIDUAL             0.0                      NaN          0.0
39783        INDIVIDUAL             0.0                      NaN          0.0
39784        INDIVIDUAL             0.0                      NaN          0.0
39785        INDIVIDUAL             0.0                      NaN          0.0

       pub_rec_bankruptcies  tax_liens  fico_average
0                       0.0        0.0         737.0
1                       0.0        0.0         742.0
2                       0.0        0.0         737.0
3                       0.0        0.0         692.0
5                       0.0        0.0         732.0
...                     ...        ...           ...
39781                   NaN        NaN         762.0
39782                   NaN        NaN         692.0
39783                   NaN        NaN         742.0
39784                   NaN        NaN         812.0
39785                   NaN        NaN         662.0

[39239 rows x 33 columns]

In [49]:
data = data.loc[:,data.apply(pd.Series.nunique) != 1]

In [56]:
for col in data.columns:
    for col in data.columns:
        if (len(data[col].unique()) < 4):
            print(data[col].value_counts())
        print()

 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

















 36 months    29096
 60 months    10143
Name: term, dtype: int64






Not Verified       16845
Verified           12526
Source Verified     9868
Name: verification_status, dtype: int64

1    33586
0     5653
Name: loan_status, dtype: int64

n    39238
y        1
Name: pymnt_plan, dtype: int64

In [57]:
print(data.shape[1])
data = data.drop('pymnt_plan', axis=1)
print("We've been able to reduce the features to => {}".format(data.shape[1]))

25
We've been able to reduce the features to => 24

In [1]:
data.to_csv(r'C:\Users\pinup\Desktop\python/filtered_data.csv',index=False)

NameError: name 'data' is not defined

In [7]:
data1=pd.read_csv(r'C:\Users\pinup\Desktop\python/filtered_data.csv')

In [8]:
print(data1)

       loan_amnt        term  installment grade emp_length home_ownership  \
0         5000.0   36 months       162.87     B  10+ years           RENT
1         2500.0   60 months        59.83     C   < 1 year           RENT
2         2400.0   36 months        84.33     C  10+ years           RENT
3        10000.0   36 months       339.31     C  10+ years           RENT
4         5000.0   36 months       156.46     A    3 years           RENT
...          ...         ...          ...   ...        ...            ...
39234     2500.0   36 months        78.42     A    4 years       MORTGAGE
39235     8500.0   36 months       275.38     C    3 years           RENT
39236     5000.0   36 months       156.84     A   < 1 year       MORTGAGE
39237     5000.0   36 months       155.38     A   < 1 year       MORTGAGE
39238     7500.0   36 months       255.43     E   < 1 year            OWN

       annual_inc verification_status  loan_status             purpose  ...  \
0         24000.0            Verified            1         credit_card  ...
1         30000.0     Source Verified            0                 car  ...
2         12252.0        Not Verified            1      small_business  ...
3         49200.0     Source Verified            1               other  ...
4         36000.0     Source Verified            1             wedding  ...
...           ...                 ...          ...                 ...  ...
39234    110000.0        Not Verified            1    home_improvement  ...
39235     18000.0        Not Verified            1         credit_card  ...
39236    100000.0        Not Verified            1  debt_consolidation  ...
39237    200000.0        Not Verified            1               other  ...
39238     22000.0        Not Verified            1  debt_consolidation  ...

      earliest_cr_line inq_last_6mths  open_acc  pub_rec revol_bal  \
0             Jan-1985            1.0       3.0      0.0   13648.0
1             Apr-1999            5.0       3.0      0.0    1687.0
2             Nov-2001            2.0       2.0      0.0    2956.0
3             Feb-1996            1.0      10.0      0.0    5598.0
4             Nov-2004            3.0       9.0      0.0    7963.0
...                ...            ...       ...      ...       ...
39234         Nov-1990            0.0      13.0      0.0    7274.0
39235         Dec-1986            1.0       6.0      0.0    8847.0
39236         Oct-1998            0.0      11.0      0.0    9698.0
39237         Nov-1988            0.0      17.0      0.0   85607.0
39238         Oct-2003            0.0       7.0      0.0    4175.0

       revol_util  total_acc  last_credit_pull_d  pub_rec_bankruptcies  \
0           83.7%        9.0            Sep-2016                   0.0
1            9.4%        4.0            Sep-2016                   0.0
2           98.5%       10.0            Sep-2016                   0.0
3             21%       37.0            Apr-2016                   0.0
4           28.3%       12.0            Jan-2016                   0.0
...           ...        ...                 ...                   ...
39234       13.1%       40.0            Jun-2010                   NaN
39235       26.9%        9.0            Jul-2010                   NaN
39236       19.4%       20.0            Jun-2007                   NaN
39237        0.7%       26.0            Jun-2007                   NaN
39238       51.5%        8.0            Jun-2010                   NaN

      fico_average
0            737.0
1            742.0
2            737.0
3            692.0
4            732.0
...            ...
39234        762.0
39235        692.0
39236        742.0
39237        812.0
39238        662.0

[39239 rows x 24 columns]

In [9]:
df=['loan_amnt','installment','annual_inc','revol_bal','fico_average','total_acc']

In [10]:
X=data1[df]

In [11]:
y=data1['loan_status']

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.25,random_state=0)

In [13]:
from sklearn.linear_model import LogisticRegression
logs=LogisticRegression(random_state=0)
logs.fit(X_train,y_train)

C:\Users\pinup\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
y_pred=logs.predict(X_test)

In [15]:
from sklearn.metrics import confusion_matrix
CF=confusion_matrix(y_test,y_pred)
print(CF)

[[   0 1443]
 [   1 8366]]

In [16]:
from sklearn import metrics
acc=metrics.accuracy_score(y_pred,y_test)
print(acc)

0.852803261977574

In [17]:
from sklearn.svm import SVC
cls=SVC(kernel='rbf', random_state=0)
cls.fit(X_train,y_train)

C:\Users\pinup\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=0,
    shrinking=True, tol=0.001, verbose=False)

In [18]:
y_pred1=cls.predict(X_test)

In [19]:
from sklearn import metrics
acc=metrics.accuracy_score(y_pred1,y_test)
print(acc)

0.8529051987767584

In [20]:
from sklearn.ensemble import RandomForestClassifier
cls1=RandomForestClassifier(n_estimators=200, criterion='entropy',random_state=0,oob_score=True)
cls1.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=True, random_state=0, verbose=0,
                       warm_start=False)

In [21]:
y_pred2=cls1.predict(X_test)

In [22]:
from sklearn import metrics
acc=metrics.accuracy_score(y_pred2,y_test)
print(acc)

0.8505606523955148

In [61]:
print(X_test)

       loan_amnt  installment  annual_inc  revol_bal  fico_average  total_acc
24295     4200.0       145.02     27996.0     6209.0         662.0       26.0
36782    10000.0       342.29     67000.0     9583.0         682.0       12.0
11547     6000.0       203.59     48000.0    13612.0         672.0       41.0
37826    10000.0       328.06     41004.0     9042.0         722.0       17.0
759      15600.0       379.04     43000.0     8803.0         712.0        7.0
...          ...          ...         ...        ...           ...        ...
6818     12000.0       296.75     42000.0    26874.0         687.0       16.0
19082    12000.0       273.41     32000.0    16903.0         697.0       20.0
6875     30000.0       443.14     85000.0    14898.0         772.0       33.0
25071    15000.0       469.22    130000.0    12793.0         752.0       29.0
15182     4000.0       120.64     45000.0     5778.0         772.0       17.0

[9810 rows x 6 columns]

In [33]:
def input_var(ln,inst,ann,revol_ball,fico,total_accc):
    X_sample=[[ln,inst,ann,revol_ball,fico,total_accc]]
    return X_sample

In [25]:
R=input("enter loan_amount:")

enter loan_amount:7000

In [26]:
Y=input("enter installments:")

enter installments:145

In [27]:
Z=input("enter annual Income:")

enter annual Income:134500

In [28]:
W=input("enter revolving credit balance:")

enter revolving credit balance:5678

In [31]:
S=input("enter fico_avg:")

enter fico_avg:765

In [30]:

T=input("enter total No.credit:")

enter total No.credit:13

In [40]:
p1=input_var(R,Y,Z,W,S,T)

In [41]:
y_pred3=cls1.predict(p1)

In [42]:
print(y_pred3)

[1]

In [63]:
model = pickle.load(open('model.pkl','rb'))    
print(model.predict([[4232, 3004, 5042,2424,732]]))

[1]